.container1 { /*for index.html*/
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: .5em;
  margin: 1%;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
}

div {
  height: 60px;
}

.header {
  grid-area: header;
  background:rgba(0,0,0,.2);
}

.nav {
  grid-area: nav;
  background:rgba(0,0,0,.2);
}

.main {
  grid-area: main;
  background:rgba(0,0,0,.2);
}

.footer {
  grid-area: footer;
  background:rgba(0,0,0,.2);
}

